*{
  margin: 0;
  padding: 0;
}

/*GENERALES*/
body {
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  display: flex;
  justify-content: center;
}
header {
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  padding: 3% 2% 3% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slidein 2s;
}
nav {
  word-spacing: 15px;
}
img {
  box-shadow: 2px 2px 2px #02010a;
}
footer {
  background-color: #C6d5c5;
  color: black;
  border-radius: 0 0 10px 10px;
}
@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}

/*ESPECIFICAS*/
header > h1 {
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}
nav > a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
section > div > h2 {
  padding: 2%;
} 
#area-principal {
  background-color: #82c3a6;
  padding: 2%;
  text-align: center;
}
#area-secundaria {
  background-color: #d5c75f;
  text-align: center;
}
.img-secundaria {
  border: 1px solid black;
}
#paisajes:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
}
#retratos:hover {
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
}
.footer-box > ul > li {
  list-style: none;
}
#img-paisajes, #img-retratos {
  background-color: #d5c75f;
}
.paisajes1, .retratos1 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.paisajes2, .paisajes4, .paisajes6, .retratos2, .retratos4, .retratos6 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.paisajes3, .retratos3 {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}


/*DESKTOP*/
@media (min-width: 901px) {
  #contenido {
    width: 900px;  
  }
  .img-principal {
    width: 90%;
  }
  #area-secundaria {
    display: flex;
    justify-content: space-between;
  }
  #area-secundaria > div {
    margin-bottom: 3%;
  }
  .img-secundaria {
    width: 80%;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
  .footer-box {
    width: 20%;
    display: inline-block;
    margin: 2%;
    padding: 2%;
  }
  #img-paisajes-1, #img-retratos-1 {
    display: flex;
    justify-content: space-around;
    padding: 2%;
  }
  #img-paisajes-2, #img-retratos-2 {
    display: flex;
    justify-content: space-around;
    padding: 2%;
  }
  img[class^=paisajes], img[class^=retratos] {
    width: 30%;
    height: 30%;
  }

}


/*MOBILE*/
@media (max-width: 900px) {
  #contenido {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  header > h1 {
    margin: 5%;
  }
  nav {
    margin: 0 0 3% 0;
  }
  nav a[href] {
    font-weight: 600; 
  }
  .img-principal, .img-secundaria {
    width: 70%;
  }
  .img-secundaria {
    margin: 3% 0 3% 0;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .footer-box {
    margin: 5%;
    width: 50%;
  }
  img[class^=paisajes], img[class^=retratos] {
    width:80%;
    height: 80%;
    margin: 2%;
  }
}